.app-ui{
    background: linear-gradient(to top, #80f278, #e7f978);
    width: 50%;
    padding: 14px 0;
    height: 85vh;
    margin-top: 40px;

    &__title{
        color: #0000ff;
        text-align: center;
        font-size: 42px;
        font-weight: 500;
        border-bottom: 2px dotted #00009f;
    }
    &__container{
        padding: 12px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__question-box{
        text-align: justify;
        margin: 0 38px 18px 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__question{
        color: #00009f;
        font-size: 22px;
        font-weight: 600;
    }

    .option-tile{
        width: 600px;
        margin-bottom: 12px;
    }

    &__btn{
        padding: 8px 16px;
        font-size: 18px;
        box-sizing: border-box;
        width: 100px;
        background-color: #4200e7;
        color: #ffff;
        margin: 0 4px;
        &:hover{
            background-color: #ffff;
            color: #4200e7;
            border: 2px solid #4200e7;;
        }

    }
}